* {
    margin: 0;
    max-width: 1600px;
}

/* shared item  */
.btn-primary {
    background: linear-gradient(to right,
            #F7E93F 0%,
            #FB09B4 51%,
            #9100F8 100%);
    border: none;
    border-radius: 10000px;
    padding: 12px 20px 12px 20px;
    color: white;
    font-size: 1rem;
    font-weight: 600px;
    text-align: left;
    cursor: pointer;

}

.hr {
    border: none;
    height: 1px;
    background-color: #7e6194;
}

.tittle-section {
    font-size: 3rem;
    color: #FFFFFF;
    font-weight: 900;
    text-align: center;

}

.description {
    font-size: 1rem;
    color: #FFFFFF;

    line-height: 20px;

}


header {
    background-color: #1A0B2E;
}

nav {
    color: white;
    font-size: 2.15rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 200px;

}



nav ul {
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
}

.wave {
    background: linear-gradient(to right,
            #F7E93F 0%,
            #FB09B4 51%,
            #9100F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/* banner section  */
#banner {
    background: url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    height: 760px;
}

.banner-circle {
    position: relative;
    left: 580px;
    top: 109px;
    width: 350px;
}

.banner-microphone {
    z-index: 2;
    position: relative;
    left: 695px;
    top: -160px;
    width: 150px;
}

.new {
    z-index: 5;
    position: relative;
    left: 780px;
    top: -450px;
    width: 150px;
}

.btn img {
    vertical-align: middle;
    margin-right: 6px;

}

.banner-content {
    text-align: center;
    margin-bottom: 101px;
    /* border: 2px solid white; */
}

.banner-heading {
    color: white;
    font-size: 3.75rem;
    /* margin-top: 40px; */

}

.banner-description {
    color: white;
    font-size: 1rem;
    margin-bottom: 24px;
}

.banner-btn {
    background: none;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    padding: 12px 20px 12px 20px;
    color: #00FF88;
    margin-left: 8px;
    cursor: pointer;
    font-size: 1rem;
}

.menu-icon {
    display: none;
    color: white;
}

/* about section   */
#about {
    background-color: #1A0B2E;
}

.about-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
}

.about-h2 {
    padding-top: 50px;
    margin-bottom: 16px;
}

.about-description1 {
    margin-bottom: 20px;
}

.hr-about {
    border: none;
    height: 1px;
    background-color: #7e6194;
    margin: 80px auto;
    max-width: 1200px;
}

.about-rating {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding-bottom: 80px;
}

.rating-tittle {
    font-size: 3rem;
    color: #00FF88;
    font-style: Black;
    margin-bottom: 16px;
}

/* Why Choose TechWave  */
#Choose {
    max-width: 1600px;
    background-color: #230E3D;
    padding-bottom: 120px;
}

.choose-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 120px;
}

.choose-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.headphone {
    grid-row: span 2;
    padding: 107px 40px;

}

.device,
.location {
    grid-column: span 2;
    padding: 40px;
}

.Exclusive {
    grid-column: span 2;
    padding: 40px;
}

.book {
    padding: 40px;
}

.choose-card {
    background-color: rgba(53, 17, 101, 0.4);    
    border: none;
    border-radius: 40px;
}

.card-tittle {
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: 900;
    margin: 16px auto;
}

/* feature episode section  */
#Feature {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1A0B2E;
}

.feature-container {
    padding-top: 120px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;

}

.feature-box {
    margin-top: 40px;
    display: flex;
    gap: 30px;
    padding-bottom: 120px;

}

.clock {
    display: flex;
    color: #00FF88;
    gap: 6px;
    margin-top: 12px;
}

.feature-card {
    max-width: 380px;
    border-radius: 24px;
    background-color: #250D44;
}

.card-inner-container {
    padding: 0px 24px 24px 24px;
}

.feature-card iframe {
    border-radius: 24px 24px 0px 0px;
}

/* meet section  */
#meet {
    background-color: #1A0B2E;
    max-width: 1600px;

}

.meet-container {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 120px;
}

.host-tittle {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 16px;
}

.meet-content {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    height: 180px;
    border-radius: 40px;
    text-align: left;

}

.meet-icon {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 8px;

}

.icn {
    border: 1px solid #533C72;
    border-radius: 1000px;
    padding: 8px 10px;
    /* width: 20px; */
}

/* footer section  */
#footer {
    background: url("../assets/footer-bg.png");
    background-position: center;
    max-width: 1600px;
    width: 100%;
    height: 412px;
}

#footer h2 {
    padding-top: 120px;
}

.footer-icon {
    display: flex;
    max-width: 544px;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 37px;
}

.icon-p {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #FFFFFF;
}

.copy-right {
    text-align: center;
    margin: 32px auto;

}

.new {
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Small device  */


@media screen and (min-width:412px) and (max-width:576px) {
    
    .tittle-section {
        font-size: 2rem;
    }

    nav {
        padding-left: 20px;

    }

    .menu-icon {
        display: block;
        position: absolute;
        right: 20px;
    }

    nav ul,
    .nav-btn {
        display: none;
    }

    /* banner section  */

    #banner {
        background: url("../assets/sm-banner.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 464px;
        overflow: hidden;
        
    }
   

    .banner-circle {       
        position: relative;
        left: 138px;
        top: 30px;
        
    }

    .banner-circle img {
        width: 200px;
    }

    .banner-microphone {
        position: relative;
        left: 200px;
        top: -130px;
        
        
    }

    .banner-microphone img {
        width: 80px;
    }

    .new {
        position: relative;
        left: 265px;
        top: -300px;
        width: 150px;
        
    }

    .new img {
        width: 70px;
    }

    .banner-content{
        position: absolute;
        top: 350px;
        text-align: center;        
        padding: 0px 20px 80px 20px;
    }
    /* about section  */

    .about-content {
        padding: 0 20px;
    }

    .hr-about {
        margin: 40px auto;
        max-width: 400px;
    }

    

    .about-rating {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0px 20px 40px;
    }

    /* choose section  */

    #Choose {
        padding-bottom: 40px;
    }

    .choose-container {
        padding-top: 40px;

    }

   

    .choose-box {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        padding: 10px;
        gap: 16px;
        margin-top: 16px;

    }

    .choose-card {
        max-width: 400px;
        padding: 24px;
    }

    /* featured section  */
    .feature-container {
        padding-top: 40px;
    }

    .feature-box {
        margin-top: 0px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 16px;
        padding: 20px;
    }

    /* host section  */
    .meet-container {
        padding: 40px 20px;
    }

    .meet-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 0px;
        margin-top: 24px;
        padding: 24px;
        height: 483px;
        border-radius: 24px;
        text-align: center;
    }

    .meet-icon {
        margin-top: 16px;
        display: flex;
        justify-content: center;
        gap: 8px;

    }

    #footer {
        background: url("../assets/sm-Footer.png");
        height: 248px;
        background-size: cover;
    }

    #footer h2 {
        padding-top: 40px;
    }

    .footer-icon {
        display: grid;
        grid-template-columns: repeat(2, max-content);        
        justify-content: center;
        
        gap:16px 14px;
        margin-top: 30px;
        margin-left: -15px;
    }
    .icon-s-a{
        gap: 20px;
        justify-content: center;

    }
    .yt{
        margin-left: 60px;
    }  
    .copy-right {
        text-align: center;       

    }


}